
.eachSong{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #99E2B4;
    border-radius: 10px;
    
}
.titleAndSubtitle{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.title{
    font-weight: 200px;
    font-size: 1rem;
    color: #4361ee;
    max-width: 100px;
    min-width: 200px;
}
.subtitle{
    color: #414833;
    margin: 1%;
    font-size: 1rem;
}
.delete{
    height: 1.5rem;
    width: 1.5rem;
}
.h1Color{
    color: #f72585;
}
img{
    cursor: pointer;
}
@media (max-width:768px){
    .title{
        min-width: 100px;
        max-width: 100px;
    }
}